#Core Telegram Bot Library
python-telegram-bot==22.5

#Library for reading environment variables from .env
python-dotenv

#Used to run a minimal web server (on port 8000) concurrently
#to satisfy the Koyeb Free Tier's mandatory web service health check.
Flask
